<header class="shadow">
  <section class="flex items-center lg:justify-between container mx-auto">
    <div class="py-6">
      <a routerLink="/" class="">Logo</a>
    </div>
    <nav class="">
      <ul class="flex items-center gap-4">
        <li class="">
          <a routerLink="/" class="hover:underline">Home</a>
        </li>
        <li class="">
          <a routerLink="/about" class="hover:underline">About</a>
        </li>
        <li class="">
          <a routerLink="/projects" class="hover:underline">Projects</a>
        </li>
        <li class="">
          <a routerLink="/blog" class="hover:underline">Blog</a>
        </li>
        <li class="">
          <a routerLink="/contact" class="hover:underline">Contact</a>
        </li>
      </ul>
    </nav>
  </section>
</header>
<main class="container mx-auto mt-24">
  <router-outlet></router-outlet>
</main>
